@import "./Gallery.css";
@import "./Header.css";
body {
    background-color: white;
    padding: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px, 1fr;
    grid-template-areas: "header" "gallery";
}
