.header {
    background-color: var(--sub-background-color);
    color: var(--color);
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    grid-area: header;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-button {
    color: var(--color);
    background-color: var(--sub-background-color);
    border: none;
    transition: all 500ms;
}

.header-button:hover {
    transform: translateY(-3px) scale(1.05);
}

#header-text {
    font-weight: 700;
}