.upload-modal {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    outline: none;
    position: relative;
}

.upload-modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 62, 62, 0.7);
}

#upload-upload {
    border: none;
    color: var(--color);
    background-color: var(--background-color);
    transition: all 500ms;
}
#upload-upload:hover,
#upload-close:hover {
    transform: scale(1.2);
}
#upload-input {
    margin-bottom: 10px;
    background-color: var(--background-color);
}
#upload-close {
    transition: all 500ms;
    position: absolute;
    color: var(--color);
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}
