body {
    background-color: white;
    padding: 50px;
}
.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gallery-card {
    border-radius: 5px;
    width: 100%;
    transition: all 500ms;
}
.gallery-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}
